
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.alert-success {
  color: blue;
  background-color: transparent;
  border-color: transparent;

  hr {
    border-top-color: #b3e8ca;
  }

  .alert-link {
    color: #123c24;
  }
}

.memo-area {
  width: 100%;
  border:none;
  height: 100%;
  resize: none;
  background-color: transparent;
  padding: 0.7em;
  outline: none;
}

.cardbody-no-padding {
  flex: 1 1 auto;
  padding: 0.05rem;
  height: 100%;
}

.doneEntry {
  background-image: url(/image/action/normal.png);
  background-position: -80px 0;
  background-color: transparent;
  border-color: transparent;
  background-repeat: no-repeat;
}
.actionButton {
  cursor: pointer;
  width: 20px;
  height: 17px;
  float: right;
  position: absolute;
  bottom: 4px;
  right: 7px;
}

.background-color-blue {
  background-color: #A9E2F3;
}

.background-color-red {
  background-color: #F6CEE3;
}

.background-color-yellow {
  background-color: #F3F781;
}

.background-color-green {
  background-color: #81F7BE;
}

.background-color-white {
  background-color: #FFFFFF;
}

.background-color-purple {
  background-color: #E3CEF6;
}

.background-color-brown {
  background-color: #BCA994
}

.container-90percent {
  width: 90%;
}

.jumbotron-style {
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  margin-bottom: 0.5rem;
}

.card-border {
  border: 0px solid #f8fafc;
  border-radius: 1.1rem;
}

.card + .card {
  margin: 10px;
}


.h1-color {
  color: rgba(0, 0, 0, 0.5);
}

.fusen {
  padding: 0;
}

.py-4 {
  display: block;
}

.cardbody-padding {
  padding-right:6px;
  padding-left: 6px;
}

// .haikei {
//   background-repeat:no-repeat;
// }
